.footer {
  background: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-items: center;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 30px;
  color: #fff;
}

.footer-contato li a {
  display: flex;
  gap: 12px;
  color: #fff;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  align-items: center;
}

.footer-contato li a:hover {
  color: #892cff;
  fill: #892cff;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  text-align: center;
}

@media (max-width: 860px) {
  .footer-container {
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}

@media (max-width: 515px) {
  .footer-contato-container {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 0;
  }

  .footer-contato li {
    font-size: 1.25rem;
  }

  .footer-contato li a img {
    width: 24px;
  }
}
